li{
    list-style: none;
}
a{
    text-decoration: none;
}
                         /* NAVBAR MENU */
.nav{
    width: 1200px;
    margin: 30px;
}
.ramda{
    font-size: 35px;
    font-family: sans-serif;
    color: black;
    font-weight: 100;
    letter-spacing: 2px;
    cursor: pointer;
    margin-bottom: 20px;
}
.ramda-span{
    color: rgb(0, 203, 255);
    font-weight: 100;
    letter-spacing: 2px;
}
.nav-area{
    background-color:rgb(41, 66, 78) ;
}
.menu{
    margin-right: 50px;
    margin-left: 50px;

}
.menu-item{
    display: inline-block;
    padding: 15px 60px;
}
.item{
    color: white;
    font-family: sans-serif;
}
.item:hover{
    color: dodgerblue
}
.item-2{
    color: rgb(64, 88, 100);
    font-family: sans-serif;
}

                /* MAIN MENU */

.main{
    width: 1200px;
    margin: 30px;
}
.block{
    display: flex;
}
.block-list{
    border: 1px solid black;
    display: inline-block;
    margin-right: 50px;
    height: 250px;
    margin-top: 0px;
}
.block-item{
    padding: 15px 15px;
    padding-right: 80px;
    text-align: left;
}
.block-item:hover{
    color: black;
    text-align: center;
    background-color:rgb(220, 220, 220);
}
.block-2{
    display: inline-block;
}
.img-border{
    border: 1px solid black;
    padding: 30px;
    display: inline-block
}
.block-img{
    display: inline-block;
    padding: 40px 220px;
}
.txt{
    margin-top: 30px;
}
.img-border:hover{
    transform: scale(1.1);
    transition: .2s;
    background-color: gray;
    color: white;
    border: 2px solid white;
    padding-left: 100px;
}
.block-logo{
    width: 782px;
}

                /* FOOTER MENU */
.footer{
    width: 1200px;
    margin: 30px;
}
.footer-nav{
    background: rgb(179, 184, 186);
    padding-left: 50px;
}
.footer-item{
    display: inline-block;
    padding: 15px 25px;
}
.footer-link{
    color: black;
    cursor: pointer;
}
.footer-link:hover{
    color: rgb(0, 130, 169);
    text-decoration: underline;
}
.copy{
    margin-left: 240px;
    display: inline-block;
    font-family: sans-serif;
}